<div class="ui five special cards" *ngIf="!authService.loggedIn()">
    <div class="card" *ngFor="let aspirant of aspirants; let i = index">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui">{{aspirant.reason}}</div>
                    </div>
                </div>
            </div>
            <img style="max-height: 180px;" src="{{aspirant.picture}}">
        </div>
        <div class="content">
            <a class="header">{{aspirant.nickname}}</a>
            <div class="meta">
                For {{aspirant.office}}
            </div>
        </div>
    </div>
</div>

<div class="ui stackable grid" *ngIf="authService.loggedIn()">
    <div class="three wide column">
        <div class="ui fluid vertical menu">
            <a class="item" [routerLink]="['/dashboard']">Dashboard</a>
            <a class="item" *ngIf="authService.canPerformTask('elcom')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/elcom-officers']">ELCOM</a>
            <a class="item" *ngIf="authService.canPerformTask('aspirants')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/aspirants']">Aspirants</a>
            <a class="item" *ngIf="authService.canPerformTask('accreditation')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/accreditation']">Accreditation</a>
            <a class="item" *ngIf="authService.canPerformTask('password')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/resend-password']">Passwords</a>
            <a class="item" *ngIf="authService.canPerformTask('vote')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/vote']">Vote</a>
            <a class="item" *ngIf="authService.canPerformTask('results')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/results']">Results</a>
            <a class="item" *ngIf="authService.canPerformTask('reports')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/reports']">Reports</a>
        </div>
    </div>
    <div class="thirteen wide column">
        <div class="ui segment">
            <table class="ui compact celled definition table segment">
                <thead>
                    <tr>
                        <th></th><th>Full Names</th><th>Nickname</th><th>CGPA</th><th>Office</th><th>Reason for contesting</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aspirant of aspirants; let i = index">
                        <td><img class="ui image" style="max-height:100px;" src="{{aspirant.picture}}" /></td>
                        <td>{{aspirant.firstname}} {{aspirant.middlename}} {{aspirant.lastname}}</td>
                        <td>{{aspirant.nickname}}</td>
                        <td>{{aspirant.cgpa}}</td>
                        <td><span style="text-transform: capitalize;">{{aspirant.office}}</span></td>
                        <td>{{aspirant.reason}}</td>
                        <td><button type="button" class="ui red tiny fluid left labelled icon button"><i class="trash icon"></i>Screen out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
