<div class="introduction">
    <h1 class="ui inverted header">
        <span class="bigheader">
            E-Voting System
        </span>
        <div class="ui divider"></div>
        <span class="tagline">
            Electoral transparency, accountability, security and accuracy.
        </span>
    </h1>
    <div class="ui hidden divider"></div>

    <a *ngIf="!authService.loggedIn()" [routerLink]="['/register']" class="ui huge inverted download button"><i class="icon credit card"></i>Buy Form</a>
    <a *ngIf="!authService.loggedIn()" [routerLink]="['/login']" class="ui huge inverted basic button"><i class="icon sign in"></i>Login</a>
    <a *ngIf="authService.loggedIn()" [routerLink]="['/dashboard']" class="ui huge inverted basic button"><i class="icon dashboard"></i>Dashboard</a>
</div>
<div class="ui hidden divider"></div>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui horizontal segments">
                <div class="ui padded segment">
                    <p></p>
                </div>
                <div class="ui padded segment">
                    <p></p>
                </div>
                <div class="ui padded segment">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
