<div class="ui stackable grid">
    <div class="five wide column"></div>
    <div class="six wide column">
        <div id="message_wrapper">
            <div class="ui icon message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                        Just one second
                    </div>
                    <p>We're verifying your transaction.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui stackable grid" *ngIf="getPaymentStatus()">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <form class="ui form segment" autocomplete="off" id="exam_form" enctype="multipart/form-data">
            <div class="ui four top attached steps">
                <div class="link active step" (click)="showStep1()">
                    <i class="user icon"></i>
                    <div class="content">
                        <div class="title">Step 1</div>
                        <div class="description">Academics</div>
                    </div>
                </div>
                <div class="link step" (click)="showStep2()">
                    <i class="upload icon"></i>
                    <div class="content">
                        <div class="title">Step 2</div>
                        <div class="description">Photo</div>
                    </div>
                </div>
                <div class="link step" (click)="showStep3()">
                    <i class="info icon"></i>
                    <div class="content">
                        <div class="title">Step 4</div>
                        <div class="description">Confirmation</div>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="" id="step1_content">
                    <div class="two fields">
                        <div class="field" id="candidate_name_div">
                            <label for="candidate_name">1. Name of candidate</label>
                            <div class="ui corner labeled input">
                                <input type="text" placeholder="Name of candidate" required="" id="candidate_name" readonly="">
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field" id="address_div">
                            <label for="address">2. Residential address</label>
                            <div class="ui corner labeled input">
                                <input type="email" placeholder="Residential Addresss" required="" id="res_address">
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field" id="email_div">
                            <label for="email">3. Email address</label>
                            <div class="ui corner labeled input">
                                <input type="email" placeholder="Email Addresss" required="" id="email_address" readonly="">
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field" id="phone_div">
                            <label for="phone">4. Phone number (e.g 08033445566)</label>
                            <div class="ui corner labeled input">
                                <input type="text" placeholder="Phone" required="" id="phone">
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field" id="bus_address_div">
                        <label for="bus_address">5. Business address (if different from residential address)</label>
                        <input type="text" placeholder="Business Addresss" id="bus_address">
                    </div>
                    <div class="field"><label>6. Previous qualifications (upload results in Step 3)</label></div>
                    <div class="two fields" id="qualifications_div">
                        <div class="field">
                            <label for="secondary_qualification">Secondary school attended</label>
                            <div class="ui corner labeled input">
                                <input type="text" placeholder="Secondary school" required="" id="sec_sch">
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="tertiary_qualification">University or Polytechnic attended</label>
                            <div class="ui corner labeled input">
                                <input type="text" placeholder="University or Polytechnic" required="" id="higher_inst">
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hiddenContent" id="step2_content">
                    <div class="ui stackable grid">
                        <div class="eight wide column">
                            <form class="ui form" method="post" id="passport_form" enctype="multipart/form-data">
                                <div class="ui fluid action input">
                                    <input type="text" readonly placeholder="Passport" id="passport_text">
                                    <input type="file" name="passport" accept="image/*" id="passport">
                                    <div class="ui icon button" id="passport_button">
                                        <i class="cloud upload icon"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="eight wide column">
                            <div class="field" style="text-align:center;">
                                <img class="ui segment image-preview" id="preview_passport">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hiddenContent" id="step3_content">
                    <div class="ui stackable grid">
                        <div class="four wide column"></div>
                        <div class="eight wide column">
                            <div class="ui segment">
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" id="confirm" tabindex="0">
                                        <label>
                                            I certify that to my personal knowledge and subject to any conditions
                                            required by the Nigerian Institute of Town Planners Bye-Laws, the
                                            above named applicant is a student of aforesaid Institution
                                            and is proposed for election accordingly.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" disabled="true" class="large fluid ui vertical animated submit button green" id="submit_btn">
                                <div class="visible content">Submit Form</div>
                                <div class="hidden content">
                                    <i class="save icon"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
