<div class="ui stackable grid">
    <div class="five wide column"></div>
    <div class="six wide column">
        <div id="message_wrapper">
            <div class="ui icon message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                        Just one second
                    </div>
                    <p>We're verifying your transaction.</p>
                </div>
            </div>
        </div>
    </div>
</div>
