<div class="ui stackable grid">
    <div class="five wide column"></div>
    <div class="six wide column">
        <div class="ui segment">
            <div class="ui one top attached steps">
                <div class="active step">
                    <i class="lock icon"></i>
                </div>
            </div>
            <form class="ui form attached segment" autocomplete="off" (submit)="onLoginSubmit()">
                <div class="required field" id="username_div">
                    <div class="ui input">
                        <input type="text" placeholder="Username/Matric No." required="" [(ngModel)]="username" name="username">
                    </div>
                </div>
                <div class="required field" id="password_div">
                    <div class="ui input">
                        <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
                    </div>
                </div>
                <div>
                    <label>
                        <a id="password-reset-modal-button">Forgotten password?</a>
                    </label>
                </div>
                <div class="ui divider"></div>
                <button class="large fluid ui primary button" type="submit"><i class="icon sign in"></i>Login</button>
            </form>
        </div>
    </div>
</div>
