html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Raleway', sans-serif;
}

#header {
    min-height: inherit;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    /*min-height: 30em;*/
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.footer.segment {
    padding: 1.5em 0em;
}

#welcome-header {
    background-color: #0E6EB8;
}

#menu_icon {
    display: none;
}

.hiddenContent {
    display: none;
}

.ui.action.input input[type="file"] {
    display: none;
}

.image-preview {
    display: none;
    max-height: 250px;
}

a#password-reset-modal-button, a#how-it-works, tr.clickable-row:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.inverted.menu .item,
    .secondary.inverted.menu .menu {
        display: none;
    }
    .secondary.inverted.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 40em;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    #tagLine {
        text-align: center;
    }
    #menu_icon {
        display: inline;
    }
}
