<div class="ui stackable grid" *ngIf="!authService.loggedIn()">
    <div class="three wide column"></div>
    <div class="nine wide column">
        <div class="ui segment" id="supervisors">
            <table class="ui compact celled definition table">
                <thead>
                    <tr>
                        <th>SNo.</th><th>Username</th><th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ui stackable grid" *ngIf="authService.loggedIn()">
    <div class="three wide column">
        <div class="ui fluid vertical menu">
            <a class="item" [routerLink]="['/dashboard']">Dashboard</a>
            <a class="item" *ngIf="authService.canPerformTask('elcom')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/elcom-officers']">ELCOM</a>
            <a class="item" *ngIf="authService.canPerformTask('aspirants')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/aspirants']">Aspirants</a>
            <a class="item" *ngIf="authService.canPerformTask('accreditation')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/accreditation']">Accreditation</a>
            <a class="item" *ngIf="authService.canPerformTask('password')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/resend-password']">Passwords</a>
            <a class="item" *ngIf="authService.canPerformTask('vote')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/vote']">Vote</a>
            <a class="item" *ngIf="authService.canPerformTask('results')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/results']">Results</a>
            <a class="item" *ngIf="authService.canPerformTask('reports')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/reports']">Reports</a>
        </div>
    </div>
    <div class="nine wide column">
        <div class="ui segment" id="supervisors">
            <table class="ui compact celled definition table">
                <thead>
                    <tr>
                        <th>SNo.</th><th>Username</th><th>Full Name</th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <td>
                            <button type="button" class="ui red icon fluid tiny button" (click)="deleteElcom(user.username)">
                                <i class="trash icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <div class="ui one top attached steps">
                <div class="active step">
                    <i class="user icon"></i>
                    <div class="content">
                        <div class="title">Add ELCOM</div>
                        <div class="description">Enter student matric number</div>
                    </div>
                </div>
            </div>
            <form class="ui small form attached segment" autocomplete="off" (submit)="onAddOfficerSubmit()" id="addElcomForm">
                <div class="field" id="matricno_div">
                    <div class="ui fluid action input">
                        <input type="text" placeholder="Matric Number" (keypress)="triggerSearch($event)" [(ngModel)]="username" name="username" id="username">
                        <button type="button" class="ui primary right icon button" (click)="searchMatric()" id="searchBtn">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
                <div class="field">
                    <input type="text" placeholder="Full Name" [(ngModel)]="name" name="name" id="name" readonly="">
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
                </div>
                <div class="ui divider"></div>
                <button class="ui submit primary button fluid" type="submit"><i class="add icon"></i>Add officer</button>
            </form>
        </div>
    </div>
</div>
