<div class="ui stackable grid" *ngIf="authService.loggedIn()">
    <div class="three wide column">
        <div class="ui fluid vertical menu">
            <a class="item" [routerLink]="['/dashboard']">Dashboard</a>
            <a class="item" *ngIf="authService.canPerformTask('elcom')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/elcom-officers']">ELCOM</a>
            <a class="item" *ngIf="authService.canPerformTask('aspirants')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/aspirants']">Aspirants</a>
            <a class="item" *ngIf="authService.canPerformTask('accreditation')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/accreditation']">Accreditation</a>
            <a class="item" *ngIf="authService.canPerformTask('password')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/reset-password']">Passwords</a>
            <a class="item" *ngIf="authService.canPerformTask('vote')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/vote']">Vote</a>
            <a class="item" *ngIf="authService.canPerformTask('receipt')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/receipt']">Receipt</a>
            <a class="item" *ngIf="authService.canPerformTask('results')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/results']">Results</a>
            <a class="item" *ngIf="authService.canPerformTask('reports')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/reports']">Reports</a>
        </div>
    </div>
    <div class="thirteen wide column">
        <div class="ui segment" id="contain">
            <div class="ui message success" *ngIf="canVote()">
                {{message}} on {{votingTime.votingDay}} between the hours of {{votingTime.startingTime}} - {{votingTime.closingTime}}.
            </div>
            <div class="ui message info">
                <p>
                    To vote simply click on a checkbox attached to the candidate of choice, then click on submit vote at the bottom of the page.
                </p>
            </div>
            <form class="ui form" autocomplete="off" (submit)="onVoteSubmit()" *ngIf="canVote()" id="votingForm">
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of President</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="presidents">
                        <div class="card" *ngFor="let president of presidents">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{president.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.president" name="president" value="{{president.matricno}}">
                                        <label>Vote {{ president.nickname }} as President</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="presidents<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Sectretary General</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="sec_gens">
                        <div class="card" *ngFor="let sec_gen of sec_gens; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{sec_gen.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.sec_gen" name="sec_gen" value="{{sec_gen.matricno}}">
                                        <label>Vote {{ sec_gen.nickname }} as Secretary General</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="sec_gens<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Vice President I</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="vice_president_Is">
                        <div class="card" *ngFor="let vice_president_I of vice_president_Is; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{vice_president_I.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.vice_president_I" name="vice_president_I" value="{{vice_president_I.matricno}}">
                                        <label>Vote {{ vice_president_I.nickname }} as Vice President I</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="vice_president_Is<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Financial Secretary</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="fin_secs">
                        <div class="card" *ngFor="let fin_sec of fin_secs; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{fin_sec.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.fin_sec" name="fin_sec" value="{{fin_sec.matricno}}">
                                        <label>Vote {{ fin_sec.nickname }} as Financial Secretary</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="fin_secs<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Auditor General</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="auditors">
                        <div class="card" *ngFor="let auditor of auditors; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{auditor.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.auditor" name="auditor" value="{{auditor.matricno}}">
                                        <label>Vote {{ auditor.nickname }} as Auditor General</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="auditors<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Treasurer</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="treasurers">
                        <div class="card" *ngFor="let treasurer of treasurers; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{treasurer.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.treasurer" name="treasurer" value="{{treasurer.matricno}}">
                                        <label>Vote {{ treasurer.nickname }} as Treasurer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="treasurers<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Director of Software</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="softwares">
                        <div class="card" *ngFor="let software of softwares; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{software.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.software" name="software" value="{{software.matricno}}">
                                        <label>Vote {{ software.nickname }} as Director of Software</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="softwares<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Public Relation Officer I</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="pro_Is">
                        <div class="card" *ngFor="let pro_I of pro_Is; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{pro_I.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.pro_I" name="pro_I" value="{{pro_I.matricno}}">
                                        <label>Vote {{ pro_I.nickname }} as Public Relation Officer I</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="pro_Is<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Liason Officer</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="liasons">
                        <div class="card" *ngFor="let liason of liasons; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{liason.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.liason" name="liason" value="{{liason.matricno}}">
                                        <label>Vote {{ liason.nickname }} as Liason Officer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="liasons<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Sports Director</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="sports_dirs">
                        <div class="card" *ngFor="let sports_dir of sports_dirs; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{sports_dir.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.sports_dir" name="sports_dir" value="{{sports_dir.matricno}}">
                                        <label>Vote {{ sports_dir.nickname }} as Sports Director</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="sports_dirs<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Vice President II</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="vice_president_IIs">
                        <div class="card" *ngFor="let vice_president_II of vice_president_IIs; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{vice_president_II.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.vice_president_II" name="vice_president_II" value="{{vice_president_II.matricno}}">
                                        <label>Vote {{ vice_president_II.nickname }} as Vice President II</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="vice_president_IIs<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Asst. Secretary General</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="asst_sec_gens">
                        <div class="card" *ngFor="let asst_sec_gen of asst_sec_gens; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{asst_sec_gen.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.asst_sec_gen" name="asst_sec_gen" value="{{asst_sec_gen.matricno}}">
                                        <label>Vote {{ asst_sec_gen.nickname }} as Asst. Secretary General</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="asst_sec_gens<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Director of Socials (D.O.S)</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="dirs_of_socials">
                        <div class="card" *ngFor="let dir_of_socials of dirs_of_socials; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{dir_of_socials.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.dir_of_socials" name="dir_of_socials" value="{{dir_of_socials.matricno}}">
                                        <label>Vote {{ dir_of_socials.nickname }} as Director of Socials (D.O.S)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="dirs_of_socials<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Director of Business</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="dirs_of_business">
                        <div class="card" *ngFor="let dir_of_business of dirs_of_business; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{dir_of_business.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.dir_of_business" name="dir_of_business" value="{{dir_of_business.matricno}}">
                                        <label>Vote {{ dir_of_business.nickname }} as Director of Business</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="dirs_of_business<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Welfare Director</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="welfares">
                        <div class="card" *ngFor="let welfare of welfares; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{welfare.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.welfare" name="welfare" value="{{welfare.matricno}}">
                                        <label>Vote {{ welfare.nickname }} as Welfare Director</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="welfares<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Director of Program</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="dirs_of_program">
                        <div class="card" *ngFor="let dir_of_program of dirs_of_program; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{dir_of_program.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.dir_of_program" name="dir_of_program" value="{{dir_of_program.matricno}}">
                                        <label>Vote {{ dir_of_program.nickname }} as Director of Program</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="dirs_of_program<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Director of Library</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="dirs_of_library">
                        <div class="card" *ngFor="let dir_of_library of dirs_of_library; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{dir_of_library.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.dir_of_library" name="dir_of_library" value="{{dir_of_library.matricno}}">
                                        <label>Vote {{ dir_of_library.nickname }} as Director of Library</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="dirs_of_library<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Asst. Welfare Director</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="asst_welfares">
                        <div class="card" *ngFor="let asst_welfare of asst_welfares; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{asst_welfare.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.asst_welfare" name="asst_welfare" value="{{asst_welfare.matricno}}">
                                        <label>Vote {{ asst_welfare.nickname }} as Asst. Welfare Director</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="asst_welfares<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Asst. Sports Director</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="asst_sports">
                        <div class="card" *ngFor="let asst_sport of asst_sports; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{asst_sport.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.asst_sport" name="asst_sport" value="{{asst_sport.matricno}}">
                                        <label>Vote {{ asst_sport.nickname }} as Asst. Sports Director</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="asst_sports<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui message info">
                        <p>Aspirants for the office of Public Relation Officer II</p>
                    </div>
                    <div class="ui five raised cards" *ngIf="pro_IIs">
                        <div class="card" *ngFor="let pro_II of pro_IIs; let i = index">
                            <div class="image">
                                <img style="max-height: 110px;" src="{{pro_II.picture}}">
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="ui radio checkbox">
                                        <input type="radio" [(ngModel)]="voteSlip.pro_II" name="pro_II" value="{{pro_II.matricno}}">
                                        <label>Vote {{ pro_II.nickname }} as Public Relation Officer II</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui message" *ngIf="pro_IIs<1">
                        No aspirants are contesting for this office
                    </div>
                </div>
                <div class="ui divider"></div>
                <button type="submit" class="ui right labeled icon green fluid button" id="submitBtn">
                    <i class="checkmark icon"></i>
                    Submit Vote
                </button>
            </form>
            <div class="ui huge message error" *ngIf="!canVote()">
                {{message}}
            </div>
        </div>
    </div>
</div>
